body {
  margin: 0;
  font-size: 17px;
}

header {
  background-color: #c3f7cf;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

ul a {
  text-decoration: none;
  color: black;
}

li {
  margin: 0 1rem;
  font-size: 1.5rem;
}

img {
  height: 20rem;
}

p {
  margin: 2rem;
}

footer {
  background-color: #c3f7cf;
}

footer p {
  text-align: center;
  padding: 3rem 0 2rem 0;
  margin: 0;
}

.cactus-image {
  height: 25rem;
  margin: 0 auto;
}
